<nav>
  <ul style="list-style: none; display: flex; gap: 15px;">
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'album_list' %}">Albums</a></li>
    {% if user.is_authenticated %}
      <li>
        <form action="{% url 'logout' %}" method="post" style="display:inline;">
        {% csrf_token %}
        <button type="submit" style="background:none; border:none; padding:0; color:blue; cursor:pointer;">
          Logout
        </button>
        </form>
      </li>

    {% else %}
      <li><a href="{% url 'login' %}">Login</a></li>
    {% endif %}
  </ul>
  <hr>
</nav>
